body {
  background-color: #FFFFFF;
  font-family: 'Roboto', sans-serif;
  /*font-family: 'Rokkitt', serif;*/
}
/*UTILITARIOS*/
.main-container {

}
#game {

}
.seat {
  background-color: red;
  height: 100px;
}
.photo {
  background-color: blue;
  height: 50px;
}
.to-play {
  background-color: green;
  height: 50px;
}
