body {
  background-color: #FFFFFF;
}
/*UTILITARIOS*/
.font-roboto {
  font-family: 'Roboto', sans-serif;
}
.font-rokkitt {
  font-family: 'Rokkitt', serif;
  font-size: 1rem;
}
/*SEDE*/
.seat {
  padding-bottom: 1rem;
  padding-top: 1rem;
}
.browser-default {
  background-color: #CCCCCC;
  border: 0;
  border-radius: 0;
  height: 2rem;
}
.photo {
  background-color: blue;
  height: 150px;
}
.to-play {
  background-color: green;
  height: 150px;
}
