* {
  border: 0;
  box-sizing: border-box;
  margin: 0;
}
body {
  background-color: #FFFFFF;
}
/*UTILITARIOS*/
.container {
  width: 100%;
}
.row {
  overflow: auto;
}
.l6 {
  width: 50%;
}
.col {
  float: left;
}
.bg-gold {
  background-color: #F9A91A;
}
.font-roboto {
  font-family: 'Roboto', sans-serif;
}
.font-rokkitt {
  font-family: 'Rokkitt', serif;
  font-weight: 600;
}
.grey-darken-5 {
  background-color: #333333;
}
/*GAME*/
#game div.row:nth-child(1){
  padding-bottom: 1rem;
  padding-top: 1rem;
}
.seat select {
  background-color: #CCCCCC;
  border: 0;
  padding: 0rem 2.5rem;
}
.score {
  text-align: right;
}
#game div.row:nth-child(2){
  height: 350px;
}
.photo,
.to-play{
  height: 100%;
}
.photo{
  background-color: grey;
  overflow: hidden;
}
.photo img{
  width: 100%;
  height: 100%;
}
.to-play {
  color: #FFFFFF;
  padding: 75px;
}
.to-play input {
  height: 1.5rem;
  margin: 1rem 0;
  width: 100%;
}
.to-play button {
  color: #FFFFFF;
  margin: 1rem 0;
  padding: 0.5rem;
}
@media (min-width: 1200px) {
  .container {
    margin: auto;
    width: 60%;
  }
}
